#gallery {
	background: #fff;
	-webkit-box-shadow: inset 0 0 0 transparent;
	box-shadow: inset 00 0 transparent;
	-webkit-border-radius: 0;
	border-radius: 0;
	border-color: #ccc;
	height: 320px;
	float: left;
	width: 100%;
	position: relative;
}


#gallery .handlediv,
#gallery .hndle {
	display: none;
}

#gallery h3 {
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	line-height: 28px;
	font-weight: 200;
	color: #333;
	border-bottom-color: transparent;
	text-shadow: transparent 0 0 0;
	-webkit-box-shadow: 0 0 0 transparent;
	box-shadow: 0 0 0 transparent;
	background: transparent;
	cursor: default;
	padding: 95px 0 10px 0;
}

#gallery .button {
	text-align: center;
}

#gallery .drag-drop-inside {
	width: 100%;
}

#gallery #drag-drop-area {
	width: 100%;
	height: 280px;
	border: none;
	padding: 40px 0 0;
}

#gallery .drag-over .overlay {
    content: '';
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(19,80,113,0.9);
    display: none;
}


#gallery .overlay {
	width: 100%;
	height: 100%;
	background: #000;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}

#gallery .dragover {
	background: blue;
}

#gallery .drag-drop .drag-drop-inside,
#gallery .inside {
	margin: 0;
	padding: 0;
}

#gallery .media-router {
	top: 10px;
}

#gallery .panel {
	display: none;
}

#gallery .panel.active {
	display: block;
	padding: 0 20px 20px 20px;
}

#gallery .header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #dfdfdf;
	box-shadow: 0 4px 4px -4px rgba(0,0,0,0.1);
}


#gallery ul {
	margin: 0;
	width: 100%;
	height: 100%;
}

#gallery li {
	margin: 0% 1% 1% 1%;
	padding: 4px;
	float: left;
	width: 120px;
	height: 120px;
	position: relative;
	display: block;
	cursor: pointer;
}

#gallery li.active {
	background: #1e8cbe;
}

#gallery .delete,
#gallery .add {
	width: 100%;
	background: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 100;
	height: 50px;
	border-top: 1px solid #dfdfdf;
	overflow: hidden;
	box-shadow: 0 -4px 4px -4px rgba(0,0,0,0.1);
	display: none;
}

#gallery .delete.active,
#gallery .add.active {
	display: block;
}

#gallery .delete .button,
#gallery .add .button {
	float: right;
	margin: 10px 10px 0 0;
}

#gallery li:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
	overflow: hidden;
}

#gallery .scrollable {
	overflow: auto;
	height: 200px;
	margin-top: 20px;
}


#gallery img {
	width: 120px;
	height: 120px;
	display: block;
}
